<tr>
  <% if @tbl_show_group_1_headers %><td></td><% end %>
  <% if @tbl_show_group_2_headers %><td></td><% end %>

  <%# A cell for each granularity period, spanning all metrics and comparisons %>
  <% @composition.results.granularity_unique_members.each do |member| %>

    <th colspan="<%= @tbl_cols_per_granularity_memeber %>">
      <%= granularity_label(@composition, member) %>
    </th>
  <% end %>
</tr>
