<tr>
  <%= tag.td if @tbl_show_group_1_headers %>

  <% @meta&.each do |meta_field_name| %>
    <td></td>
  <% end %>

  <% if @tbl_show_group_1_totals %>
    <% @composition.metrics.each do |metric| %>
      <td></td>
    <% end %>
  <% end %>

  <%= tag.td if @tbl_show_group_2_headers %>

  <% @composition.results.unique_interval_descriptors.each do |interval_descriptor| %>
    <% @composition.metrics.each do |metric| %>
      <% @composition.comparisons.each do |comparison| %>
        <% comparison.lookback.times do |i| %>
          <%# if +comparison.lookback+ is 3, +lookback+ should be -3, -2, %>
          <%# and -1 for the loops. So when i=0, lookback=-3, and i=1 l=-2 %>
          <% rewind = -(comparison.lookback - i) %>

          <th><%= interval_label(@composition, comparison_descriptor(comparison, interval_descriptor, rewind)) %></th>
        <% end %>
      <% end %>

      <th><%= interval_label(@composition, interval_descriptor) %></th>
    <% end %>
  <% end %>
</tr>
