<tr class="totals">
  <% if @tbl_show_group_1_headers %><th scope="row">TOTAL</th><% end %>

  <% @meta&.each do |meta_field_name| %>
    <td></td>
  <% end %>

  <%= tag.td if @tbl_show_group_2_headers %>

  <% @composition.results.unique_interval_descriptors.each do |interval_descriptor| %>
    <% @composition.metrics.each do |metric| %>
      <% @composition.comparisons.each do |comparison| %>
        <% comparison.lookback.times do |j| %>
          <% rewind = -(comparison.lookback - j) %>
          <% total = @composition.results.calc_interval_sum(metric, interval_descriptor, comparison, rewind) %>
          <td><%= number_with_delimiter(total) %></td>
        <% end %>
      <% end %>

      <% total = @composition.results.calc_interval_sum(metric, interval_descriptor) %>
      <td><%= number_with_delimiter(total) %></td>
    <% end %>
  <% end %>
</tr>
