/**
 * General layout
 */

body {
  --prefix-body-font-family: "Roboto", "Helvetica Neue", sans-serif;
  --prefix-body-bg: #{$blue-100};
  --prefix-body-color: #{$gray-600};

  font-family: var(--prefix-body-font-family);
  background-color: var(--prefix-body-bg);
  color: var(--prefix-body-color);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background-repeat: repeat;
  background-position: top left;
}

h3 {
  color: $black;
}

.prx-main {
  position: relative;
  display: block;
}

.sticky-lg-top,
.sticky-md-top {
  z-index: $zindex-dropdown;
}
