body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.field_with_errors {
  background: lightcoral;

  input {
    border: 1px solid red;
  }
}

form {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "global-data-parameters lens"
}

form.nochrome {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "lens"
}

#global-data-parameters {
  grid-area: global-data-parameters;
  padding: 8px;
}

.nochrome #global-data-parameters,
.nochrome #lens-data-parameters,
.nochrome #export-btn {
  display: none;
}

#range label {
  padding: 3px 0;
}

#filters ul {
  margin: 0;
  padding: 0;
  list-style: none;

  .active { background-color: aquamarine; }

  li {
    margin: 0 0 9px 0;
    padding: 0;

    select.operator {
      margin-right: 5px;
    }

    select[multiple] {
      max-width: 240px;
    }

    fieldset {
      padding: 2px 5px 4px;

      &.active {
        background-color: lightgreen;
      }

      &[data-dimension-type="Timestamp"] {
        .range, .extract, .truncate { display: none; }

        &:has(option[value=Range]:checked) .range { display: block; }
        &:has(option[value=Extract]:checked) .extract { display: block; }
        &:has(option[value=Truncate]:checked) .truncate { display: block; }
      }
    }

    .inc { display: none; }
    .exc { display: none; }
    fieldset:has(select:first-of-type option[value=include]:checked) .inc { display: inline; }
    fieldset:has(select:first-of-type option[value=exclude]:checked) .exc { display: inline; }
  }
}


#lens-data-parameters:has(input[type=radio][value=timeSeries]:checked) #metrics,
#lens-data-parameters:has(input[type=radio][value=dimensional]:checked) #metrics,
#lens-data-parameters:has(input[type=radio][value=cume]:checked) #metrics {
  display: block;
}

body:has(input[name=analysis-type][value=time-series]:checked) #time-series-granularity { display: block; }
#time-series-granularity span { display: none; }
body:has(#time-series-granularity option:last-child:checked) #time-series-granularity span {
  display: inline;
}

#lens {
  grid-area: lens;
}

#lens-data-parameters {
  background-color: #f3f3f3;
  padding: 8px;
}

#lens-data-parameters:has(input[type=radio][value=timeSeries]:checked) #granularity,
#lens-data-parameters:has(input[type=radio][value=cume]:checked) #granularity {
  display: block;
}

#granularity:has(option:last-child:checked) #window { display: block }

#lens-data-parameters:has(input[type=radio][value=timeSeries]:checked) #groups,
#lens-data-parameters:has(input[type=radio][value=dimensional]:checked) #groups,
#lens-data-parameters:has(input[type=radio][value=cume]:checked) #groups {
  display: block;
}

#groups fieldset .timestamp-options { display: none; }
#groups fieldset:has(select[id^="group."] option[data-dimension-type="Timestamp"]:checked) .timestamp-options { display: block; }
#groups fieldset .timestamp-options .timestamp-ranges,
#groups fieldset .timestamp-options .truncate-options,
#groups fieldset .timestamp-options .extract-options { display: none; }
#groups fieldset:has(select.mode-chooser option[value=range]:checked) .timestamp-ranges { display: block; }
#groups fieldset:has(select.mode-chooser option[value=extract]:checked) .extract-options { display: block; }
#groups fieldset:has(select.mode-chooser option[value=truncate]:checked) .truncate-options { display: block; }

#groups fieldset .duration-options { display: none; }
#groups fieldset:has(select[id^="group."] option[data-dimension-type="Duration"]:checked) .duration-options { display: block; }

#groups div[class^="meta-options-for-"] { display: none; }
#groups fieldset:has(option[value=podcast]:checked) .meta-options-for-podcast { display: block; }
#groups fieldset:has(option[value=episode]:checked) .meta-options-for-episode { display: block; }
#groups fieldset:has(option[value=ua]:checked) .meta-options-for-ua { display: block; }
#groups fieldset:has(option[value=device]:checked) .meta-options-for-device { display: block; }
#groups fieldset:has(option[value=os]:checked) .meta-options-for-os { display: block; }
#groups fieldset:has(option[value=country]:checked) .meta-options-for-country { display: block; }
#groups fieldset:has(option[value=subdiv]:checked) .meta-options-for-subdiv { display: block; }
#groups fieldset:has(option[value=city]:checked) .meta-options-for-city { display: block; }
#groups fieldset:has(option[value=metro]:checked) .meta-options-for-metro { display: block; }


#lens-data-parameters:has(input[type=radio][value=timeSeries]:checked) #time-series-compare {
  display: block;
}

#time-series-compare select[name=compare] option[value=WoW],
#time-series-compare select[name=compare] option[value=QoQ],
#time-series-compare select[name=compare] option[value=YoY] {
  display: none;
}

form:has(#granularity select[name=granularity] option[value=daily]:checked) {
  #time-series-compare select[name=compare] option[value=WoW],
  #time-series-compare select[name=compare] option[value=QoQ],
  #time-series-compare select[name=compare] option[value=YoY] {
    display: initial;
  }
}
form:has(#granularity select[name=granularity] option[value=monthly]:checked) {
  #time-series-compare select[name=compare] option[value=QoQ],
  #time-series-compare select[name=compare] option[value=YoY] {
    display: initial;
  }
}
form:has(#granularity select[name=granularity] option[value=quarterly]:checked) {
  #time-series-compare select[name=compare] option[value=YoY] {
    display: initial;
  }
}

#export-btn {
  position: absolute;
  top: 100px;
  right: 0;
  display: block;
  border: 4px solid red;
  background: rebeccapurple;
  color: white;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;

  .totals { background-color: palegreen; }

  th {
    text-align: left;
  }

  th.partial {
    background: yellow;
  }

  thead {
    th {
      position: sticky;
      top: 0;
      background: white;
    }
  }

  td {
    border: 1px solid #bbb;
    padding: 3px;
  }

  tbody th {
    position: sticky;
    left: 0;
    background: white;
  }

  /* col.data:nth-child(even) {
    background: gainsboro
  } */

  tr:hover {
    th {
      background-color: red;

      &::before {
        content: "▶ "
      }
    }
  }
}

table:has(td:nth-child(1):hover) tr th:nth-child(1),
table:has(td:nth-child(2):hover) tr th:nth-child(2),
table:has(td:nth-child(3):hover) tr th:nth-child(3),
table:has(td:nth-child(4):hover) tr th:nth-child(4),
table:has(td:nth-child(5):hover) tr th:nth-child(5),
table:has(td:nth-child(6):hover) tr th:nth-child(6),
table:has(td:nth-child(7):hover) tr th:nth-child(7),
table:has(td:nth-child(8):hover) tr th:nth-child(8),
table:has(td:nth-child(9):hover) tr th:nth-child(9),
table:has(td:nth-child(10):hover) tr th:nth-child(10),
table:has(td:nth-child(11):hover) tr th:nth-child(11),
table:has(td:nth-child(12):hover) tr th:nth-child(12),
table:has(td:nth-child(13):hover) tr th:nth-child(13),
table:has(td:nth-child(14):hover) tr th:nth-child(14),
table:has(td:nth-child(15):hover) tr th:nth-child(15),
table:has(td:nth-child(16):hover) tr th:nth-child(16),
table:has(td:nth-child(17):hover) tr th:nth-child(17)
{
  background-color: red;

  &::before {
    content: "▶ "
  }
}
