.filter-chooser.card {
  border-top: 4px solid var(--bs-cyan);
  border-bottom: 4px solid var(--bs-gray-400);
  display: none;
  border-radius: 4px;

  &.filter-added {
    display: block;
  }

  .filter-operator {
    padding: 0 2.25rem 0 0.5rem;
  }

  .active {
    background-color: aquamarine;
  }

  legend {
    font-weight: bold;
    font-size: 1rem;
  }

  h3.card-title {
    font-size: 1.1rem;
    font-weight: 700;
  }

  select.filter-operator {
    font-size: 0.7rem;
    width: inherit;
    height: 1.9rem;
    border-radius: 2px;
    background-color: white;
  }

  .nulls-chooser {
    display: none;
  }
  &:has(select.filter-operator option[value*="clude"]:checked) .nulls-chooser {
    display: block;
  }
  .nulls-chooser .include,
  .nulls-chooser .exclude {
    display: none;
  }
  &:has(select.filter-operator option[value="include"]:checked)
    .nulls-chooser
    .include {
    display: inline;
  }
  &:has(select.filter-operator option[value="exclude"]:checked)
    .nulls-chooser
    .exclude {
    display: inline;
  }

  &[data-dimension-type="Timestamp"] {
    .range,
    .extract,
    .truncate {
      display: none;
    }

    &:has(option[value="Range"]:checked) .range {
      display: block;
    }
    &:has(option[value="Extract"]:checked) .extract {
      display: block;
    }
    &:has(option[value="Truncate"]:checked) .truncate {
      display: block;
    }
  }
}
