.filters-panel {
  #add-filter {
    border: 0;
    background: var(--bs-blue);
    color: white;
    border-radius: 3px;
    padding: 3px 0 3px 10px;
    width: 100px;
    appearance: none;
    font-size: 0.9rem;

    &:hover {
      background: var(--bs-link-hover-color);
      cursor: pointer;
    }
  }
}
