.dx-results {
  th,
  td {
    padding: 0.3em;
    color: #1a1a1a;
  }

  .totals {
    background-color: palegreen;
  }

  td.totals::before,
  th.totals::before {
    content: "∑ ";
    font-weight: 800;
    opacity: 0.4;
    font-size: 80%;
  }
}
