/* Always show the first control group. Don't show the direction selector
  unless a column has been selected. Only show the next control group once the
  previous control group has been used. But always show any control group that
  has been used. */
.sort-chooser {
  .row-sort-opt {
    display: none !important;

    .ss-main.sort-direction {
      display: none !important;
    }

    &:first-of-type {
      display: block !important;
    }

    &:not(:has(option[value="no-sort"]:checked)) {
      display: flex !important;

      .ss-main.sort-direction {
        display: flex !important;
      }

      & + .row-sort-opt {
        display: flex !important;
      }
    }
  }
}
