<table>
  <%# Table header row, with a cell for each metric %>
  <tr>
    <% @composition.metrics.each do |metric| %>
      <td><%= metric.metric %></td>
    <% end %>
  </tr>

  <%# Results row, with a cell for each metric %>
  <tr>
    <% @composition.metrics.each do |metric| %>
      <% value = @composition.results.get_value(metric) %>

      <td <%= html_attributes("data-raw-value": value) %>>
        <%= number_with_delimiter(value) %>
      </td>
    <% end %>
  </tr>
</table>
