<tr>
  <% if @tbl_show_group_1_headers %>
    <td></td>
  <% end %>

  <% if @tbl_show_group_1_totals %>
    <th colspan="<%= @composition.metrics.size %>" scope="colgroup">TOTAL</th>
  <% end %>

  <% @expand_group_2_members.each do |group_2_member| %>
    <th
      colspan="<%= @composition.metrics.size %>"
      data-raw-member="<%= group_2_member %>">

      <% label = @composition.results.group_member_label(@composition.groups[1], group_2_member) if group_2_member %>
      <%= label ? Labeler.label(label, @composition.groups[1]) : "UNKNOWN" %>
    </th>
  <% end %>
</tr>
