<tr>
  <%= tag.td if @tbl_show_group_1_headers %>

  <% if @tbl_show_group_1_totals %>
    <th colspan="<%= @composition.metrics.size %>" scope="colgroup">TOTAL</th>
  <% end %>

  <% @meta&.each do |meta| %>
    <td></td>
  <% end %>

  <% @expand_group_2_member_descriptors.each do |group_2_member_descriptor| %>
    <%= group_table_header_tag(@composition, @composition.groups[1], group_2_member_descriptor, :colgroup) %>
  <% end %>
</tr>
