<tr class="metrics-headers">
  <% if @tbl_show_group_1_headers %>
    <td></td>
  <% end %>

  <% if @tbl_show_group_1_totals %>
    <% @composition.metrics.each do |metric| %>
      <th scope="col"><%= metric.metric %></th>
    <% end %>
  <% end %>

  <% @expand_group_2_member_descriptors.each do |_| %>
    <% @composition.metrics.each do |metric| %>
      <th scope="col"><%= metric.metric %></th>
    <% end %>
  <% end %>
</tr>
