/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.field_with_errors {
  background: lightcoral;

  input {
    border: 1px solid red;
  }
}

form {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "global-data-parameters lens"
}

#global-data-parameters {
  grid-area: global-data-parameters;
  background-color: #f3f3f3;
  padding: 8px;
}

#range label {
  padding: 3px 0;
}

#filters ul {
  margin: 0;
  padding: 0;
  list-style: none;

  .active { background-color: aquamarine; }

  li {
    margin: 0 0 9px 0;
    padding: 0;

    select.operator {
      margin-right: 5px;
    }

    select[multiple] {
      max-width: 240px;
    }

    fieldset {
      padding: 2px 5px 4px;

      &.active {
        background-color: lightgreen;
      }

      &[data-dimension-type="Timestamp"] {
        .range, .extract, .truncate { display: none; }

        &:has(option[value=Range]:checked) .range { display: block; }
        &:has(option[value=Extract]:checked) .extract { display: block; }
        &:has(option[value=Truncate]:checked) .truncate { display: block; }
      }
    }
  }
}

#metrics { display: none; }

#lens-data-parameters:has(input[type=radio][value=timeSeries]:checked) #metrics,
#lens-data-parameters:has(input[type=radio][value=dimensional]:checked) #metrics {
  display: block;
}

#time-series-granularity { display: none; }
body:has(input[name=analysis-type][value=time-series]:checked) #time-series-granularity { display: block; }
#time-series-granularity span { display: none; }
body:has(#time-series-granularity option:last-child:checked) #time-series-granularity span {
  display: inline;
}

#lens {
  grid-area: lens;
}

#lens-data-parameters {
  background-color: #f3f3f3;
  padding: 8px;
}

#granularity { display: none; }
#lens-data-parameters:has(input[type=radio][value=timeSeries]:checked) #granularity {
  display: block;
}

#window { display: none; }
#granularity:has(option:last-child:checked) #window { display: block }

#groups { display: none; }
#lens-data-parameters:has(input[type=radio][value=timeSeries]:checked) #groups,
#lens-data-parameters:has(input[type=radio][value=dimensional]:checked) #groups {
  display: block;
}

#groups fieldset .timestamp { display: none; }
#groups fieldset:has(select[id^="group."] option[data-dimension-type="Timestamp"]:checked) .timestamp { display: block; }
#groups fieldset .timestamp .range,
#groups fieldset .timestamp .truncate,
#groups fieldset .timestamp .extract { display: none; }
#groups fieldset:has(select.waffle option[value=range]:checked) .range { display: block; }
#groups fieldset:has(select.waffle option[value=extract]:checked) .extract { display: block; }
#groups fieldset:has(select.waffle option[value=truncate]:checked) .truncate { display: block; }

#groups fieldset .duration { display: none; }
#groups fieldset:has(select[id^="group."] option[data-dimension-type="Duration"]:checked) .duration { display: block; }

#time-series-compare { display: none; }
#lens-data-parameters:has(input[type=radio][value=timeSeries]:checked) #time-series-compare {
  display: block;
}

#time-series-compare select[name=compare] option[value=WoW],
#time-series-compare select[name=compare] option[value=QoQ],
#time-series-compare select[name=compare] option[value=YoY] {
  display: none;
}

form:has(#granularity select[name=granularity] option[value=daily]:checked) {
  #time-series-compare select[name=compare] option[value=WoW],
  #time-series-compare select[name=compare] option[value=QoQ],
  #time-series-compare select[name=compare] option[value=YoY] {
    display: initial;
  }
}
form:has(#granularity select[name=granularity] option[value=monthly]:checked) {
  #time-series-compare select[name=compare] option[value=QoQ],
  #time-series-compare select[name=compare] option[value=YoY] {
    display: initial;
  }
}
form:has(#granularity select[name=granularity] option[value=quarterly]:checked) {
  #time-series-compare select[name=compare] option[value=YoY] {
    display: initial;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  .totals { background-color: palegreen; }

  th {
    text-align: left;
  }

  td {
    border: 1px solid #bbb;
    padding: 3px;
  }

  col.data:nth-child(even) {
    background: gainsboro
  }
}
