.form-select:focus {
  box-shadow: none;
  outline: 2px solid var(--bs-blue);
  border-color: transparent;
}

.form-floating:has(input[type="text"]:focus) {
  label {
    transform: scale(0.85) translateY(-1.75rem) translateX(0.15rem);
  }
}
