<fieldset data-data-explorer--results-table-highlight-target="chooser">
  <legend>Highlight Options</legend>

  <label for="hi-scale">Scale</label>
  <select
    id="hi-scale"
    data-data-explorer--results-table-highlight-target="scale"
    data-action="data-explorer--results-table-highlight#highlight">

    <option value="log">Log</option>
    <option value="linear">Linear</option>
  </select>

  <label for="hi-palette">Palette</label>
  <select
    id="hi-palette"
    data-data-explorer--results-table-highlight-target="palette"
    data-action="data-explorer--results-table-highlight#highlight">

    <option value="rainbow">Rainbow</option>
    <option value="monochrome">Monochrome</option>
  </select>

  <label for="hi-divisions">Divisions</label>
  <select
    id="hi-divisions"
    data-data-explorer--results-table-highlight-target="divisions"
    data-action="data-explorer--results-table-highlight#highlight">

    <option value="">All values</option>
    <option value="data-dx-metric">Per metric</option>
    <option value="data-dx-metric,data-dx-group-1-member-descriptor">Amongst group 1</option>
    <option value="data-dx-metric,data-dx-group-2-member-descriptor">Amongst group 2</option>
    <option value="data-dx-metric,data-dx-interval-descriptor">Amongst interval</option>
    <option value="delta,data-dx-metric,data-dx-group-1-member-descriptor">Group 1 over time</option>
    <option value="delta,data-dx-metric,data-dx-group-1-member-descriptor,data-dx-group-2-member-descriptor">Group 1+2 over time</option>
  </select>
</fieldset>
