<dialog id="lens-wizard" data-controller="data-explorer--lens-wizard">
  <ul>
    <li>
      <a href="/data-explorer?lens=dimensional">
        <h1>Dimension Analysis</h1>

        <p>Slice and dice data using up to two customizable attributes, like country, app, or season</p>
      </a>
    </li>
    <li>
      <a href="/data-explorer?lens=timeSeries">
        <h1>Data Over Time</h1>

        <p>Use time series data to analyze how your podcasts perform over time</p>
      </a>
    </li>
    <li>
      <a href="/data-explorer?lens=cume">
        <h1>Cumulative Performance</h1>

        <p>Compare how episodes accumulate downloads to identify lifecycle patterns</p>
      </a>
    </li>
    <li style="color: #aaa;">
      <a>
        <h1>Custom Report</h1>

        <p>Create a table that includesexactly the data you need</p>
      </a>
    </li>
  </ul>
</dialog>
