<dialog id="lens-wizard" data-controller="data-explorer--lens-wizard">
  <ul>
    <li>
      <a href="/data-explorer?lens=dimensional">
        Dimension Analysis

        <p>Slice and dice data using up to two customizable attributes, like country, app, or season</p>
      </a>
    </li>
    <li>
      <a href="/data-explorer?lens=timeSeries">
        Data Over Time

        <p>Use time series data to analyze how your podcasts perform over time</p>
      </a>
    </li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
</dialog>
