<div class="prx-app-bar navbar p-0 bg-white">
  <nav class="prx-app-nav navbar-nav justifty-content-start navbar-expand-md">
    <button class="navbar-toggler d-flex d-md-none align-items-center border-0 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSubNav" aria-controls="navbarSubNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="ms-2 fw-bold text-primary text-uppercase text-sm">Inventory
    </button>
    <div class="collapse navbar-collapse justify-content-start align-items-stretch" id="navbarSubNav">
      <%= link_to t(".data-explorer"), main_app.root_path, class: "nav-link active" %>
    </div>
  </nav>
</div>
